.slider {
  color: #4d4d4d;
  font-size: 70px;
  line-height: 60px;
}
.imglogo {
  width: Hug (107.54px) px;
  height: Hug (16.71px) px;
  gap: 5.57px;
  opacity: 0px;
}

h6 {
  color: rgba(113, 113, 113, 1);

  font-size: 13.14px;
}

.container {
  font-family: inherit;
}
.img-custom {
  width: 380px;
  height: 400px;
  max-width: 100%;
  height: auto;
}

.button-custom {
  width: 150px;
  height: 50px;
  background: #4caf4f;
  font-size: 17px;
  line-height: 16.71px;
  text-align: center;
  color: #ffffff;
  border: none;
}

.pagination {
}

.pagination li a {
  width: 10px;
  height: 10px;
  display: flex;
  border-radius: 50%;
  background: #4caf50;
  font-size: 18px;
  opacity: 0.3;
  margin-right: 5px;
}

.pagination .active a {
  background: #4caf50;
  opacity: 1;
}

.pagination li a:hover {
  background: #3e8e41;
  opacity: 1;
}

.clients {
  padding-top: 20px;
}
.our-custom {
  width: 40px;
  height: 40px;
}

.logo-client {
}
.community {
}

.suppression {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 537px;
  margin: auto;
  text-align: center;
}
h1 {
  font-size: 88.55px;
  font-weight: bold;
}

.centered-image {
  margin: 0 auto;
}

.column-item {
}

.item-info {
  max-width: 300px;
  box-sizing: border-box;
  margin: 10px auto;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.site {
}
.fame {
}
.text-left {
  text-align: left;
  color: #4d4d4d;
}
.text-left-cl {
  text-align: left;
  color: #4caf4f;
}
.img-fame {
  width: 506.66px;
  height: 501.4px;
  max-width: 100%;
  height: auto;
}
.help {
}
.csimg {
  width: 350.92px;
  height: 320.92px;
  max-width: 100%;
  height: auto;
}
.mkt {
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

.mkt-img {
  position: relative;
  max-width: 437px;
  width: 100%; /
}

.mktimg {
  width: 100%; 
  height: auto;
}

.mkt-info {
  position: relative;
  color: #4d4d4d;
  bottom: 100px;
  padding: 20px 0px 10px 0px;
  background: #f5f7fa;
  border-radius: 10px;
  text-align: center;
  max-width: 80%; 
  margin: 0 auto;
  border: 2px solid white;
  box-shadow: 0px 5.57px 11.14px 0px rgba(171, 190, 209, 0.4);
}

.colorgr {
  color: #4caf4f;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 30px;
}
.customer {
}
.demo {
  text-align: center;
  padding-bottom: 30px;
}

.footer {
  background-color: #263238;
  margin-top: 20px;
}

.column {
  flex: 1 1 45%;
}

.box {
}

.icon {
  flex: 0 0 50px;
  height: 50px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 50%;
}

.text-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.text-container h4,
.text-container p {
  margin: 0;
  font-weight: 10px;
}
.iconsmall {
  width: 20px;
  height: 7px;
  color: #4caf4f;
  padding-left: 5px;
}
.mkt-info h4 {
  font-size: 25px;
  color: rgba(113, 113, 113, 1);
}
